.mid_card:hover {
    transform: scale(1);
    box-shadow: none;
    border: 1px solid transparent;
}
.news {
    position: relative;
    height: 100%;
}
.news a img {
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.news-info {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: initial;
    color: white;
    padding: 10px;
    background-image: -webkit-linear-gradient(bottom, #2b2b2bbf, #2b2b2b00);
}
.news-info h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
}
.news-info span {
    font-size: 14px;
}